<!DOCTYPE HTML>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>WEBSITE</title>
    </head>
    <body>
        <div class="back">
        <div class="block">
            <h2>Registration</h2>
            <form action="/register" method="post">
                <input type="text" name="username" placeholder="Name" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="repeat_password" placeholder="Repeate password" required>
                <button type="submit">Register</button>
            </form>
        </div>
        </div>
    </body>
</html>
